<section class="containeradvantages" id="advantages">
  <div class="container">
    <h2 class="advantagessearchengines">BENEFITS</h2>
    <ul class="advantageslist">
      <li class="advantageslist__element">
        <h3 class="advantageslist__header advantageslist__header--icon1">721</h3>
        <p class="advantageslist__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantageslist__element">
        <h3 class="advantageslist__header advantageslist__header--icon2">16kg</h3>
        <p class="advantageslist__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantageslist__element advantageslist__element--last">
        <h3 class="advantageslist__header advantageslist__header--icon3">84</h3>
        <p class="advantageslist__text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
