<section class="contacts" id="contacts">
  <h2 class="contacts__none-header">Contacts</h2>
  <div class="container-background">
    <div class="background"></div>
  </div>
  <div class="container-background-2"><div class="background-2"></div></div>
  <div class="container">
    <div class="contacts__container">
      <ul class="contacts__list">
        <li>
          <div class="contacts__list-item">
            <h3 class="contacts__header-caffe">CAFE</h3>
            <ul class="contacts__item">
              <li class="contacts__description-item">
                <div class="contacts__description">
                  <h4 class="contacts__header-description">Chicago</h4>
                  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
              </li>
              <li class="contacts__days-item">
                <ul class="contacts__list-days">
                  <li>
                    <h4 class="contacts__header-days">Monday - Friday</h4>
                    <p class="contacts__p-days">06:00 AM - 10:00 PM</p>
                  </li>
                  <li>
                    <h4 class="contacts__header-days">Saturday - Sunday</h4>
                    <p class="contacts__p-days">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contacts__item">
                <div class="contacts__email-tel">
                  <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contacts__list-item">
            <h3 class="contacts__header-truck">FOODTRUCK</h3>
            <ul class="contacts__item">
              <li class="contacts__description-item">
                <div class="contacts__description">
                  <h4 class="contacts__header-description">Los Angeles</h4>
                  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
              </li>
              <li class="contacts__days-item">
                <ul class="contacts__list-days">
                  <li>
                    <h4 class="contacts__header-days">Monday - Friday</h4>
                    <p class="contacts__p-days">06:00 AM - 10:00 PM</p>
                  </li>
                  <li>
                    <h4 class="contacts__header-days">Saturday - Sunday</h4>
                    <p class="contacts__p-days">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contacts__item">
                <div class="contacts__email-tel">
                  <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="contacts__list-item">
            <h3 class="contacts__header-caffe">CAFE</h3>
            <ul class="contacts__item">
              <li class="contacts__description-item">
                <div class="contacts__description">
                  <h4 class="contacts__header-description">New York</h4>
                  <p>Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                </div>
              </li>
              <li class="contacts__days-item">
                <ul class="contacts__list-days">
                  <li>
                    <h4 class="contacts__header-days">Monday - Friday</h4>
                    <p class="contacts__p-days">06:00 AM - 10:00 PM</p>
                  </li>
                  <li>
                    <h4 class="contacts__header-days">Saturday - Sunday</h4>
                    <p class="contacts__p-days">08:00 AM - 16:00 PM</p>
                  </li>
                </ul>
              </li>
              <li class="contacts__contacts-item">
                <div class="contacts__email-tel">
                  <a href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                  <a href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="contacts__buttons">
        <button class="contacts__button-location" type="button" contacts-location-modal-open>
          <span class="button-text">Our Locations </span>
          <svg class="button-icon" width="8px" height="8px">
            <use href="./images/icons-contacts.svg#icon-button"></use>
          </svg>
        </button>
        <button class="contacts__button-franchise" type="button" contacts-franchise-modal-open>
          <span class="button-text">Franchise </span>
          <svg class="button-icon" width="8px" height="8px">
            <use href="./images/icons-contacts.svg#icon-button"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="backdrop is-hidden" contacts-location-modal>
    <div class="contacts__modal">
      <div class="contacts__map-box">
        <iframe
          id="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52882.817859795265!2d-118.30662084656093!3d34.06499931310681!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c639369fbcc7%3A0x1b60d389b63f6765!2sSalt%20%26%20Straw!5e0!3m2!1spl!2spl!4v1671664188940!5m2!1spl!2spl"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <button class="contacts__modal-close-btn" contacts-location-modal-close>X</button>
      </div>
    </div>
  </div>
  <div class="backdrop-franchise is-hidden" contacts-franchise-modal>
    <div class="contacts__modal-franchise">
      <div class="contacts__map-box-franchise">
        <iframe
          id="map-franchise"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15723.934113913554!2d-118.45340312561324!3d34.055413713010054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb7f17ffa3ff%3A0xf291764513875402!2sSaffron%20%26%20Rose%20Ice%20Cream!5e0!3m2!1spl!2spl!4v1671665163726!5m2!1spl!2spl"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
        <button class="contacts__modal-close-btn-franchise" contacts-franchise-modal-close>
          X
        </button>
      </div>
    </div>
  </div>
</section>
