<section class="customer-reviews" id="customer">
  <div class="container">

    <div class="slider">
      <div class="single-item">
        <div class="customer-reviews__image">
          <img class="customer-reviews__image-input" src="./images/testimonials1_1.jpg" srcset="
              ./images/testimonials1_1.jpg    450w,
              ./images/testimonials1_1@2x.jpg 900w,
              ./images/tablet1.jpg            354w,
              ./images/tablet2x.jpg           708w,
              ./images/desktop1.jpg           270w,
              ./images/desktop2x.jpg          540w
            " alt="Emily Los Angeles" style="width: 85px; height: 85px" />
        </div>
        <div class="customer-reviews__two">
          <p class="customer-reviews__two-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="single-item">
        <div class="customer-reviews__image">
          <img class="customer-reviews__image-input" src="./images/testimonials1_2.jpg" srcset="
              ./images/testimonials1_2.jpg    450w,
              ./images/testimonials1_2@2x.jpg 900w,
              ./images/tablet1.jpg            354w,
              ./images/tablet2x.jpg           708w,
              ./images/desktop1.jpg           270w,
              ./images/desktop2x.jpg          540w
            " alt="Emily Los Angeles" style="width: 85px; height: 85px" />
        </div>
        <div class="customer-reviews__two">
          <p class="customer-reviews__two-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="single-item">
        <div class="customer-reviews__image">
          <img class="customer-reviews__image-input" src="./images/testimonials1_3.jpg" srcset="
              ./images/testimonials1_3.jpg    450w,
              ./images/testimonials1_3@2x.jpg 900w,
              ./images/tablet1.jpg            354w,
              ./images/tablet2x.jpg           708w,
              ./images/desktop1.jpg           270w,
              ./images/desktop2x.jpg          540w
            " alt="Emily Los Angeles" style="width: 85px; height: 85px" />
        </div>
        <div class="customer-reviews__two">
          <p class="customer-reviews__two-text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
            nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
    </div>


    <div class="customer-reviews__interactive">
      <h2 class="customer-reviews__interactive-elipse-tytul">Emily, Los Angeles</h2>
      <ul class="customer-reviews__interactive-elipse2">
        <li class="customer-reviews__interactive-elipse-items2">
          <a href="#">
            <svg width="12" height="11">
              <use href="./images/ice-creme2.svg#icon-Vector-8"></use>
            </svg>
          </a>
        </li>
        <li class="customer-reviews__interactive-elipse-items2">
          <a href="#">
            <svg width="12" height="11">
              <use href="./images/ice-creme2.svg#icon-Ellipse-7"></use>
            </svg>
          </a>
        </li>
        <li class="customer-reviews__interactive-elipse-items2">
          <a href="#">
            <svg width="12" height="11">
              <use href="./images/ice-creme2.svg#icon-Ellipse-8"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>