<div class="section-gallery">
  <div class="container gallery__container">
    <img
      src="./images/gallery@364w.png"
      srcset="
        ./images/gallery@364w.png   364w,
        ./images/gallery@728w.png   728w,
        ./images/gallery@768w.png   768w,
        ./images/gallery@1280w.png 1280w,
        ./images/gallery@1536w.png 1536w,
        ./images/gallery@2560w.png 2560w
      "
      sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 364px, 364px"
      alt="gallery"
      class="gallery__image"
    />
  </div>
</div>
