<section class="products" id="products">
  <div class="container container-products">
    <p class="products-anchor" id="products">100% natural</p>
    <h2 class="products-header">products</h2>

    <ul class="product">
      <li class="product__wrapper">
        <div class="product__card product__card--ice">
          <h3 class="product__title">ICE CREAM</h3>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button">
            <svg width="12" height="12">
              <use href="./images/icons.svg#arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product__wrapper">
        <div class="product__card product__card--coffee">
          <h3 class="product__title">ICE COFFEE</h3>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button">
            <svg width="12" height="12">
              <use href="./images/icons.svg#arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="product__wrapper product__wrapper--last">
        <div class="product__card product__card--shake">
          <h3 class="product__title">MILKSHAKES</h3>
          <p class="product__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.
          </p>
          <button class="product__button">
            <svg width="12" height="12">
              <use href="./images/icons.svg#arrow-right2"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
